* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
  font-family: Arial, sans-serif;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #999;
  margin-bottom: 15px;
}

button {
  padding: 12px 25px;
  background: blue;
  color: white;
  border: none;
}